@use '../vars/palette';
@use '../vars/animation';

.pjs-filter__secondary-controls
{
  display: flex;
  margin-left: -1em;
  margin-right: -1em;

  &__control
  {
    position: relative;
    width: 100%;
    margin: 0 1em 2em;
    background-color: palette.$color-1;
    transition: animation.$transition;

    &:hover
    {
      background-color: palette.$color-2;
    }

    &__label
    {
      display: block;
      padding: 1em;
      cursor: pointer;
    }

    &__options
    {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 100%;
      opacity: 0;
      min-width: 100%;
      transition: animation.$transition;
      background-color: palette.$color-1;
      overflow: hidden;

      &__option
      {
        display: block;
        width: 100%;
        padding: .5em 1em;

        &:hover
        {
          background-color: palette.$color-2;
        }
      }
    }

    &:hover &__options
    {
      z-index: unset;
      opacity: 1;
    }
  }
}